<%inherit file="base.html"/>

<%def name="header()">
    <link rel="stylesheet" type="text/css" href="${h.url('/static/css/registration/registration.css')}" />
    <link rel="stylesheet" type="text/css" href="${h.url('/static/css/registration/index.css')}" />

    <script type="text/javascript">
        var applianceTerms = ${terms};
    </script>

    <script type="text/javascript" src="${h.url('/static/javascript/registration.js')}"></script>
</%def>

<%def name="body()">
    <h1>Request an Account</h1>

    <p class="help">
        This form allows you to request an account to use the
        supercomputing facilities available through a particular
        institution's YABI appliance.
    </p>

    <form method="post">
        ${form.as_p()}

        <p class="help">
            By requesting an account on this appliance, you agree to the
            terms of service below.
        </p>

        <div id="tos"></div>

        <p class="submit-row">
            <input type="submit" value="Request Account" />
        </p>
    </form>

    ${self.copyright()}
</%def>
