{% extends "admin/base_site_mako.html" %}
{% load pytag %}
{% load as_sorted %}

{% block block_title %}{{title}} | {% py trans('Yabi site admin') %}{% endblock %}

{% block block_branding %}
<h1 id="site-name">{% py trans('Yabi Administration') }}</h1>
{% endblock %}

{% block block_content %}


<h2>Celery Processes</h2>

<table>
<tr>
<th>PID</th>
<th>Name</th>
<th>Command</th>
</tr>

{% if celery_procs %}
      {% for item in celery_procs %}
      <tr>
        <td>{{item.pid}}</td>
        <td>{{item.name}}</td>
        <td>{% py " ".join(item.cmdline) %}</td>
      </tr>
      {% endfor %}
{% else %}
<tr>
<td colspan="3">No celery processes found.</td>
</tr>
{% endif %}

</table>


<h2>Settings</h2>

<table>
<tr>
<th>Key</th>
<th>Value</th>
</tr>

{% for key in settings.keys|as_sorted %}
<tr>
<td>{{key}}</td>
<td>{% py settings[key] %}</td>
</tr>
{% endfor %}
</table>



{% endblock %}

{% block block_nav_global %}
{% endblock %}
