{% extends "admin/base_site_mako.html" %}
{load pytag %}

{% if not is_popup %}
{% block block_breadcrumbs %}
<div class="breadcrumbs"><a href="{{root_path}}">{{"Home" |trans }}</a> &rsaquo; Backend Credential Test</div>
{% endblock %}
{% endif %}


{% block block_content %}
<div id="content-main">


<table>
    <tr>
        <th>Description</th
        <th>Yabi Username</th>
        <th>Username</th>
        <th>Home Dir</th>
        <th>Visible</th>
        <th>Uri</th>
        <th>Home Dir Uri</th>

    </tr>
    <tr>
    <td>{{bec.credential.description}}</td>
    <td>{{bec.credential.user.name}}</td>
    <td>{{bec.credential.username}</td>
    <td>{{bec.homedir}}</td>
    <td>{{bec.visible}}</td>
    <td>{{bec.uri}}</td>
    <td>{{bec.homedir_uri}}</td>
    <td>{% py bec.backend_cred_edit_link() %}</td>
    </tr>

</table>

<br/><br/>

{% if not error %}
<h3>File listing of {{bec.homedir_uri}}</h3>
<table>
    <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Date</th>
    </tr>

    {% for key in listing %}
          {% for (filename, size, date, link) in listing[key]['files'] %}
          <tr>
            <td>{{filename}}</td>
            <td>{{size}}</td>
            <td>{{date}}</td>
          </tr>
          {% endfor %}
    {% endfor %}
</table>

<br/><br/>


<h3>Directory listing of {{bec.homedir_uri}}</h3>
<table>
    <tr>
        <th>Directory</th>
        <th>Date</th>
    </tr>

    {% for key in listing %}
          {% for (directory, size, date, link) in listing[key]['directories'] %}
          <tr>
            <td>{{directory}}</td>
            <td>{{date}}</td>
          </tr>
          {% endfor %}
    {% endfor %}
</table>
{% else %}
<h3 class="error">{{error}}</h3>
<p>{{error_help}}</p>
{% endif %}
</div>
{% endblock %}
