#
# Requirements for YabiFe
#
# To see what requirements your current virtualenv is using type:
#
# $ pip freeze
#
#
# Requirements can be specified as:
#  - local files (eggs/ccg-python-build_v2_0.tar.gz)
#  - http        (http://ccg-python-build.googlecode.com/files/ccg-python-build_v2_0.tar.gz)
#  - eggs        (python-ldap>=2.3.13)
#
# http://www.pip-installer.org/en/latest/requirement-format.html
#
BeautifulSoup==3.2.0
Fabric==1.2.2
http://mango-py.googlecode.com/files/Mango-py-1.3.1-ccg1-2.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-webservices-0.1.2.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-registration-0.8-alpha-1.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-makoloader-0.2.3.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-introspect-0.1.2.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-extras-0.1.3.tar.gz
http://ccg-django-extras.googlecode.com/files/ccg-auth-0.3.2.tar.gz
http://ccg-python-build.googlecode.com/files/ccg-python-build-2.3.3.tar.gz
cssutils==0.9.7
django-templatetag-sugar==0.1
httplib2==0.6.0
paramiko==1.7.7.1
pycrypto==2.3
pygooglechart==0.2.1
python-memcached==1.47
virtualenv==1.6.4
wsgiref==0.1.2
http://yaphc.googlecode.com/files/yaphc-v0_1_3.tgz
Mako>=0.5.0
South>=0.7.3
django-extensions>=0.7.1
