{% extends "admin/base_site_mako.html" %}
{% load pytag %}

{% block block_title %}
{{title}} | Yabi site admin
{% endblock %}

<!-- removed block_branding -->

{% block block_content %}
<p>Enter a passphrase to {{action}} the credential${{plural}}.
<br/>

<form action="{{return_url}}" method="POST">
<input type="hidden" name="ids" value="{{ids}}" />
<input type="hidden" name="action" value="{{action}}" />

<table>
    <tr>
    <td>Passphrase:</td>
    <td>
    <input type="password" name="password" id="password" value="">
    </td>
    </tr>
    {% if checkpassword %}
    <tr>
    <td>Verify:</td>
    <td>
    <input type="password" name="checkpassword" id="checkpassword" value="">
    </td>
    </tr>
    {% endif %}
</table>
<br/><br/>
<input type="submit" name="button" value="Cancel">
<input type="submit" name="button" value="{{ action|capfirst}}">
</form>


{% endblock %}

{% block block_nav_global %}
{% endblock %}
