{% extends "admin/base_site_mako.html" %}
{% load pytag %}
{% load is_false %}


{% if is_popup|is_false %}
{% block block_breadcrumbs %}
<div class="breadcrumbs"><a href="{{root_path}}">Home</a> &rsaquo; User Backends</div>
{% endblock %}
{% endif %}


{% block block_content %}
<div id="content-main">


<h3>Credentials Associated With This User</h3>
<table>
    <tr>
        <th>Description</th
        <th>Yabi Username</th>
        <th>Username</th>
        <th>Certificate</th>
        <th>Key</th>
        <th>Home Dir</th>
        <th>Visible</th>
        <th>Uri</th>
        <th>Home Dir Uri</th>

    </tr>
    {% for bec in backendcredentials %}
    <tr>
    <td>{{bec.credential.description}}</td>
    <td>{{bec.credential.user.name}}</td>
    <td>{{bec.credential.username}}</td>
    <td>
    {% if bec.credential.cert %}
    Yes
    {% else %}
    No
    {% endif %}
    </td>
    <td>
    {% if bec.credential.key %}
    Yes
    {% else %}
    No
    {% endif %}
    </td>
    <td>{{bec.homedir}}</td>
    <td>{{bec.visible}}</td>
    <td>{{bec.uri}}</td>
    <td>{{bec.homedir_uri}}</td>
    <td>{% autoescape off %}{{ bec.backend_cred_edit_link }}{% endautoescape %}</td>

    </tr>
    {% endfor %}
          

</table>


</div>
{% endblock %}
