<%inherit file="admin/base_site.html"/>


${self.block_title()}<%def name="block_title()">${title} | ${trans('Yabi site admin')}</%def>

${self.block_branding()}<%def name="block_branding()">
<h1 id="site-name">${trans('Yabi Administration')}</h1>
</%def>

<%def name="block_content()">
<p>Enter a passphrase to ${action} the credential${plural}.
<br/>

<form action="${h.url('/ws/password_collection')}" method="POST">
<input type="hidden" name="return_url" value="${return_url}" />
<input type="hidden" name="ids" value="${ids}" />
<input type="hidden" name="action" value="${action}" />

<table>
    <tr>
    <td>Passphrase:</td>
    <td>
    <input type="password" name="password" id="password" value="">
    </td>
    </tr>
    % if checkpassword:
    <tr>
    <td>Verify:</td>
    <td>
    <input type="password" name="checkpassword" id="checkpassword" value="">
    </td>
    </tr>
    % endif
</table>
<br/><br/>
<input type="submit" name="button" value="Cancel">
<input type="submit" name="button" value="${capfirst(action)}">
</form>


</%def>

${self.block_nav_global()}<%def name="block_nav_global()"></%def>
