<%inherit file="admin/base_site.html"/>
<%namespace name="admin" module="django.contrib.admin.templatetags.adminmedia" />


% if not is_popup:
${self.block_breadcrumbs()}<%def name="block_breadcrumbs()"><div class="breadcrumbs"><a href="${root_path}">${trans("Home")}</a> &rsaquo; User tools</div></%def>
% endif


${self.block_content()}<%def name="block_content()">
<div id="content-main">


% if tool_groups:


User ${tooluser.name} has the following tools:

<ul>
% for tool_group in tool_groups:

    <li>${tool_group.name}</li>

% for tool in tool_group.sorted_tools():

    <ul>
        <li>${tool}</li>
    </ul>

% endfor


% endfor

</ul>


% else:


User ${tooluser.name} has <em>no tools</em> configured.


% endif


</div>
</%def>
