<%inherit file="admin/base_site.html"/>


${self.block_title()}<%def name="block_title()">${title} | ${trans('Yabi site admin')}</%def>

${self.block_branding()}<%def name="block_branding()">
<h1 id="site-name">${trans('Yabi Administration')}</h1>
</%def>

<%def name="block_content()">


<h2>Celery Processes</h2>

<table>
<tr>
<th>PID</th>
<th>Name</th>
<th>Command</th>
</tr>

% if celery_procs:
      % for item in celery_procs:
      <tr>
        <td>${item.pid}</td>
        <td>${item.name}</td>
        <td>${item.command}</td>
      </tr>
      % endfor
% else:
<tr>
<td colspan="3">No celery processes found.</td>
</tr>
% endif

</table>


<h2>Settings</h2>

<table>
<tr>
<th>Key</th>
<th>Value</th>
</tr>

% for key in sorted(settings.keys()):
<tr>
<td>${key}</td>
<td>${settings[key]}</td>
</tr>
% endfor
</table>



</%def>

${self.block_nav_global()}<%def name="block_nav_global()"></%def>
