#
# Requirements for YabiBe
#
# To see what requirements your current virtualenv is using type:
#
# $ pip freeze
#
#
# Requirements can be specified as:
#  - local files (eggs/ccg-python-build_v2_0.tar.gz)
#  - http        (http://ccg-python-build.googlecode.com/files/ccg-python-build_v2_0.tar.gz)
#  - eggs        (python-ldap>=2.3.13)
#
# http://www.pip-installer.org/en/latest/requirement-format.html
#
pyOpenSSL==0.12
pycrypto==2.3
http://yabi.googlecode.com/files/paramiko-1.7.7.1-fifopatch.tar.gz
Fabric==1.2.2
Mako==0.4.2
MarkupSafe==0.9.3
Twisted==11.0.0
eggs/TwistedWeb2.tar.gz
http://ccg-python-build.googlecode.com/files/ccg-python-build-2.2.9.tar.gz
setproctitle==1.1.2
virtualenv==1.6.4
wsgiref==0.1.2
zope.interface==3.6.3
Mercurial==1.9.3
gevent
greenlet==0.3.3
psutil
