<html>
<head>
<title>YABI error</title>
<style type="text/css">
body {
    background-color:#eee;
    font-family: Sans-serif, Helvetica, Arial;
}

#500message {
    position:absolute;
    top:50px;
    left:50px;
    border:1px solid #eee;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding:200px;
    padding-left:40px;
    padding-right:40px;
    font-size:20px;
}
    
</style>
</head>
<body>

  <div id="doc3" class="yui-t1" style="height:100%; width:100%;">

    <div id="500message">
        <h1>Oops!</h1>
        There was an error processing your request. Please try again later, or send an email to <a href="mailto:web@ccg.murdoch.edu.au">web@ccg.murdoch.edu.au</a>
    </div>

  </div>
</body>
</html>
