<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="Y A B I" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Yabi" />
<meta name="keywords" content="yabi, bioinformatics" />
<meta name="language" content="en" />

<title>Y A B I</title>

<link rel="shortcut icon" href="/favicon.ico" />

<script src="${h.url('/static/javascript/yui-2.4.1/yahoo/yahoo-min.js')}" language="JavaScript" type="text/javascript"></script>

<script src="${h.url('/static/javascript/yui-2.4.1/event/event-min.js')}" language="JavaScript" type="text/javascript"></script>
<script src="${h.url('/static/javascript/yui-2.4.1/connection/connection-min.js')}" language="JavaScript" type="text/javascript"></script>

<script src="${h.url('/static/javascript/yui-2.4.1/dom/dom-min.js')}" language="JavaScript" type="text/javascript"></script>
<script src="${h.url('/static/javascript/yui-2.4.1/dragdrop/dragdrop-min.js')}" language="JavaScript" type="text/javascript"></script>
<script src="${h.url('/static/javascript/yui-2.4.1/animation/animation-min.js')}" language="JavaScript" type="text/javascript"></script>
<script src="${h.url('/static/javascript/yui-2.4.1/slider/slider-min.js')}" language="JavaScript" type="text/javascript"></script>
<script src="${h.url('/static/javascript/yui-2.4.1/json/json-beta-min.js')}" language="JavaScript" type="text/javascript"></script>

<script language="JavaScript" type="text/javascript">
    YAHOO.namespace("ccgyabi");
    var appURL = "${h.url('/')}";
% if request:
    YAHOO.ccgyabi.username = '${request.user.username}';
% endif
</script>

<script type="text/javascript" src="${h.url('/static/javascript/YabiCommon.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiAcceptedExtensionList.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiFileSelector.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiJob.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiJobFileValue.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiJobParam.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiJobStatus.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiSimpleFileValue.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiTool.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiToolCollection.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiWorkflow.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiWorkflowCollection.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiWorkflowProxy.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/yabiMessage.js')}" language="JavaScript"></script>
<script type="text/javascript" src="${h.url('/static/javascript/YabiMessageManager.js')}" language="JavaScript"></script>


<link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/main.css')}" />
<link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/reset-fonts-grids-min.css')}" />
<link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/yabi.css')}" />
${ next.header() }
</head>
<body>
${ next.body() }
</body>
</html>
