<%inherit file="base.html"/>

<%def name="header()">
    <link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/files.css')}" />

    <script language="javascript">
        YAHOO.util.Event.onDOMReady(function() {
            initFileSelector();
            initMessageManager();
        });

        var leftfileselector, rightfileselector, messageManager;

        function initFileSelector() {
            leftfileselector = new YabiFileSelector(null, true);
            rightfileselector = new YabiFileSelector(null, true);
            
            document.getElementById("leftContainer").appendChild(leftfileselector.containerEl);
            document.getElementById("rightContainer").appendChild(rightfileselector.containerEl);
        }

        function initMessageManager() {
            messageManager = new YabiMessageManager("fileOperationStatus");
        }
    </script>
</%def>

<%def name="body()">
    <div id="doc3" class="yui-t1" style="height:100%;background-color:#fff;">
        <div id="yabi-files-mode">
            ${self.bodyhd()}

            <div id="leftContainer"></div>

            <div id="rightContainer"></div>
        </div>
    </div>

    ${self.copyright()}
</%def>
