<%inherit file="base.html"/>
<%def name="header()">

<script language="javascript">
YAHOO.util.Event.onAvailable("container", initFileSelector);

var fileselector;

function initFileSelector() {
    fileselector = new YabiFileSelector(null);
    
    document.getElementById("container").appendChild(fileselector.containerEl);
}

</script>


</%def>

<%def name="body()">

  <div id="doc3" class="yui-t1" style="height:100%; width:100%;">
    <div id="yabi-files-mode">
      <div id="hd">
        <p><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" />  

            <div id="yabi-message-ajax">
            </div>

            <div id="yabi-tabs">

              <a href="${h.url('/jobs')}" id="yabi-tabs-jobs">jobs</a>
              <a href="${h.url('/design')}" id="yabi-tabs-design">design</a>
              <a href="${h.url('/files')}" id="yabi-tabs-files">files</a>
            </div>

            <div id="userinfo">
              <a href="${h.url('/logout')}" class="fakeButton">log out ${request.user.username}</a>        
            </div>

      </div>

      <script type="text/javascript">
        //<![CDATA[

        YAHOO.util.Event.onAvailable('yabi-message-success', YAHOO.ccgyabi.YabiMessage.fade, this);
        YAHOO.util.Event.onAvailable('yabi-message-warn', YAHOO.ccgyabi.YabiMessage.fade, this);
        YAHOO.util.Event.onAvailable('yabi-message-fail', YAHOO.ccgyabi.YabiMessage.fade, this);

        //]]>
      </script>


          <div style="position:absolute;left:80px;top:63px;padding:5px;min-width:600px;">
                <div id="container"></div>
          </div>
      

    </div>
  </div>
</%def>
