<%inherit file="base.html"/>

<%def name="header()">
    ${self.yui("container/container")}

    <link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/javascript/yui-2.4.1/container/assets/container-core.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/jobs.css?20110428')}" />

    <script type="text/javascript" src="${h.url('/static/javascript/widget/radiolist.js?20110119')}"></script>

    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(initWorkflowListing);

        var workflowListing, refreshInterval, listingRefreshInterval;

        var examineProgress = function(status) {
            if (status == "completed") {
                window.clearInterval(refreshInterval);
            }
        };

        var fetchProgress = function() {
            workflowListing.loadedWorkflow.fetchProgress( examineProgress );
        };

        var reloadListing = function() {
            workflowListing.hydrate();
        };

        /**
         * Initialises the buttons that allow the user to toggle through the
         * various information panes available when viewing a job. This is a
         * rather ugly blob of code that does some rather evil things, but it
         * doesn't really belong in any of the JS files containing YABI objects
         * (YabiWorkflowCollection would be closest, but it's not really
         * related to that object per se), so it's here for now. At some point
         * we should probably split this into a separate JS hierarchy of
         * view-related files.
         */
        var initJobPaneSelector = function() {
            var column = document.querySelector(".yabiRightColumn");
            var selector = document.getElementById("jobPaneSelector");

            /* We need to track the currently selected job to lazy load the
             * Remote Status information. */
            var job = null;

            // We'll use the RadioList widget to handle the button UI itself.
            var list = new RadioList(selector);

            var outputs = list.createItem("file outputs");
            var options = list.createItem("options");
            var remote = list.createItem("remote status");

            /* Now we declare some utility functions we'll need here and there.
             * Slightly more generic versions of these would be good candidates
             * for YabiCommon -- at the very least, a proper each() function
             * would simplify things greatly. */

            /**
             * Hides all of the elements in the given node list.
             *
             * @param {NodeList} The DOM nodes to hide. Nodes that aren't HTML
             *                   elements are supported, but will simply get a
             *                   couple of properties set that will likely do
             *                   nothing.
             */
            var hideNodeList = function(nodeList) {
                for (var i = 0; i < nodeList.length; i++) {
                    // TODO: Animate.
                    nodeList[i].style.display = "none";
                }
            };

            /**
             * Shows all of the elements in the given node list.
             *
             * @param {NodeList} The DOM nodes to show.
             */
            var showNodeList = function(nodeList) {
                for (var i = 0; i < nodeList.length; i++) {
                    // TODO: Animate.
                    nodeList[i].style.display = "block";
                }
            };

            /**
             * Hides all of the job information panes.
             */
            var hideAll = function() {
                hideNodeList(column.querySelectorAll(".fileOutputs"));
                hideNodeList(column.querySelectorAll(".jobOptionsContainer > .jobOptionsContainer"));
                hideNodeList(column.querySelectorAll(".jobStatus"));
            };

            /**
             * Shows only the given information pane.
             *
             * @param {String} A CSS selector matching the element(s) to show.
             */
            var showOnly = function(selector) {
                hideAll();
                showNodeList(column.querySelectorAll(selector));
            };

            // Now the callbacks that need to fire when each pane is selected.

            outputs.addEventListener("select", function() {
                showOnly(".fileOutputs");

                /* We need to size the file selector to use as much of the
                 * available screen real estate as possible. */
                var height = Yabi.util.getViewportHeight();
                if (height) {
                    var fs = column.querySelector(".fileSelectorBrowse");
                    var top = Yabi.util.getElementOffset(fs).top;
                    
                    // The 20 pixels is pure, unadulterated fudge factor.
                    var height = height - top - 20;

                    fs.style.height = height + "px";
                }
            });

            options.addEventListener("select", function() {
                showOnly(".active.jobOptionsContainer");
            });

            remote.addEventListener("select", function() {
                if (job) {
                    job.renderJobStatus();
                }
                else {
                    job.renderJobStatusError();
                }

                showOnly(".active.jobStatus");
            });

            /* Monkey patching ahoy! This does actually work, although it's
             * kind of evil. */
            
            var originalJobSelect = YabiJob.prototype.selectJob;
            YabiJob.prototype.selectJob = function() {
                // First things first: let's call the overriden method.
                originalJobSelect.call(this);

                job = this;

                // Make sure the selector buttons are actually visible.
                selector.style.display = "block";

                // Remove any preview pane that might be open.
                this.workflow.fileOutputsSelector.purgePreviewElements();

                /* Reset the default pane to a known state: either the current
                 * pane, or the file outputs if that's not set for some reason. */
                var item = list.getSelectedItem() || outputs;
                list.selectItem(item);

                /* The event isn't resent if the item is already selected, but
                 * we want the height calculation to be redone anyway. */
                item.sendEvent("select");
            };

            var originalJobDeselect = YabiJob.prototype.deselectJob;
            YabiJob.prototype.deselectJob = function() {
                originalJobDeselect.call(this);

                job = null;

                /* Hide the selector buttons, at least until another job is
                 * selected. */
                selector.style.display = "none";
            };
        };

        function initWorkflowListing() {
            workflowListing = new YabiWorkflowCollection();
            document.getElementById("workflowListingContainer").appendChild(workflowListing.containerEl);
            
            workflowListing.slider.subscribe("change", function() { workflowListing.changeDateRange(); });
            
            workflowListing.onSelectionCallback = function() {
                if (refreshInterval !== null) {
                    window.clearInterval(refreshInterval);
                }
                
                refreshInterval = window.setInterval( fetchProgress , 5000 );
            }
            
            listingRefreshInterval = window.setInterval( reloadListing, 60000 );
            
            document.getElementById("container").appendChild(workflowListing.noSelectionDiv);
            
            document.getElementById("container").appendChild(workflowListing.loadedWorkflowEl);
            
            document.getElementById("optionsDiv").appendChild(workflowListing.loadedWorkflowFileOutputsEl);
            
            document.getElementById("optionsDiv").appendChild(workflowListing.loadedWorkflowOptionsEl);

            document.getElementById("optionsDiv").appendChild(workflowListing.loadedWorkflowStatusEl);
            
            //test for anchor tag, if it exists, load that workflow
            if (window.location.hash.length > 1) {
                workflowListing.select(window.location.hash.substr(1));
            }

            initJobPaneSelector();
        }
    </script>
</%def>

<%def name="body()">
    <div id="doc3" class="yui-t1">
        <div id="yabi-jobs-mode">
            ${self.bodyhd()}

            <div class="yabiLeftColumn">
                <div id="workflowListingContainer"></div>
            </div>

            <div class="yabiMiddleColumn">
                <div id="container"></div>
            </div>

            <div class="yabiRightColumn">
                <div id="jobPaneSelector"></div>
                <div id="optionsContainer">
                    <div id="optionsDiv"></div>
                </div>
            </div>
        </div>
    </div>
  
    ${self.copyright()}
</%def>
