<%inherit file="base.html"/>
<%def name="header()">

<script language="javascript">
YAHOO.util.Event.onAvailable("container", initWorkflowListing);

var workflowListing, refreshInterval;

var examineProgress = function(status) {
    if (status == "completed") {
        window.clearInterval(refreshInterval);
    }
};

var fetchProgress = function() {
    workflowListing.loadedWorkflow.fetchProgress( examineProgress );
};

function initWorkflowListing() {
    workflowListing = new YabiWorkflowCollection();
    document.getElementById("workflowListingContainer").appendChild(workflowListing.containerEl);
    
    workflowListing.slider.subscribe("change", function() { workflowListing.changeDateRange(); });
    
    workflowListing.onSelectionCallback = function() {
        if (refreshInterval !== null) {
            window.clearInterval(refreshInterval);
        }
        
        refreshInterval = window.setInterval( fetchProgress , 5000 );
    }
    
    document.getElementById("container").appendChild(workflowListing.noSelectionDiv);
    
    document.getElementById("container").appendChild(workflowListing.loadedWorkflowEl);
    
    document.getElementById("optionsDiv").appendChild(workflowListing.loadedWorkflowFileOutputsEl);
    
    document.getElementById("optionsDiv").appendChild(workflowListing.loadedWorkflowOptionsEl);
}

</script>


</%def>

<%def name="body()">

  <div id="doc3" class="yui-t1">
    <div id="yabi-jobs-mode">
      <div id="hd">
        <p><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" />  

            <div id="yabi-message-ajax">
            </div>

            <div id="yabi-tabs">

              <a href="${h.url('/jobs')}" id="yabi-tabs-jobs">jobs</a>
              <a href="${h.url('/design')}" id="yabi-tabs-design">design</a>
              <a href="${h.url('/files')}" id="yabi-tabs-files">files</a>
            </div>

            <div id="userinfo">
              <a href="${h.url('/logout')}" class="fakeButton">log out ${request.user.username}</a>        
            </div>

      </div>

      <script type="text/javascript">
        //<![CDATA[

        YAHOO.util.Event.onAvailable('yabi-message-success', YAHOO.ccgyabi.YabiMessage.fade, this);
        YAHOO.util.Event.onAvailable('yabi-message-warn', YAHOO.ccgyabi.YabiMessage.fade, this);
        YAHOO.util.Event.onAvailable('yabi-message-fail', YAHOO.ccgyabi.YabiMessage.fade, this);

        //]]>
      </script>
      

          <div style="position:absolute;left:0px;top:63px;width:290px;padding:5px;">
                  <div id="workflowListingContainer"></div>
          </div>
          <div class="yabiMiddleColumn">
                  <div id="container"></div>
          </div>
          <div style="position:absolute;left:670px;top:63px;padding:5px;min-width:400px;">
                <div id="optionsDiv"></div>
          </div>

    </div>
  </div>
  
  <div class="copyright">&copy; 2006, 2009 CCG, Murdoch University</div>
  
</%def>
