<%inherit file="base.html"/>
<%def name="header()">
</%def>

<%def name="body()">
<div style="position:absolute;height:100%;width:100%;top:0px;left:0px;background-color:white;padding-top:150px;">

<a href="${h.url('/')}"><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" /></a><p>
<br/>

<div style="position:relative;">
<form enctype="multipart/form-data" method="post" action="${ h.url("/login") }">
<div class="loginForm">
${form.as_p()}
<br/>
</div>
<input type="submit" value="Log In" class="loginFormButton"/>
</form>
<br/><br/> 
% for key, error_list in form.errors.iteritems():
    % for err in error_list:
        <span class="error">${key.title()}: ${ err }</span><br/>
    % endfor
% endfor
%if error:
    <span class="error">${error}</span><br/>
%endif
<br/>


<p>

<br/>
<center>
<table width="600px" style="background-color:#eee;padding:10px;-moz-border-radius:4px;-webkit-border-radius:4px;">

<tr>
    <td width="80px">&nbsp;</td>
    <td valign="top" style="font-weight:bold;padding:10px;">Help/Support</td>
    <td valign="top" style="padding:10px;"><ul><li>Please direct all enquiries to <a href="mailto:yabi@ccg.murdoch.edu.au">yabi@ccg.murdoch.edu.au</a><li></ul></td>
</tr>

<tr>
    <td width="80px">&nbsp;</td>
    <td valign="top" style="font-weight:bold;padding:10px;">Demonstration Account</td>
    <td valign="top" style="padding:10px;"><ul><li>A minimal demo account may be accessed with username "yabidemo" and password "yabidemo". All files and workflows will be periodically removed from the demo account.<li></ul></td>
</tr>

<tr>
    <td></td>
    <td valign="top" style="font-weight:bold;padding:10px;">Screencasts<br></td>
    <td valign="top" style="padding:10px;">
    Click a link below to watch the screencast via YouTube.
    <p><br>
    <ul>
        <li>* <a href="http://www.youtube.com/watch?v=y3Ar7okGuzU" title="">Marine Science workflow</a></li>
        <li>* <a href="http://www.youtube.com/watch?v=7AEJ6eocy7Y" title="">Blast and ClustalW</a></li>
        <li>* <a href="http://www.youtube.com/watch?v=XCIRFDZ9bJQ" title="">GetORF and gpchrmm</a></li>
        <li>* <a href="http://www.youtube.com/watch?v=yqdFieaVUuY" title="">Chipseq</a></li>
        <li>* <a href="http://www.youtube.com/watch?v=pesZlq6IeHc" title="">Chipseq 2</a></li>
	<li>* <a href="http://www.youtube.com/watch?v=8_gD7rwBsJM" title="">Trans Proteomic Pipeline (Peptide Prophet)</a></li>
    </ul>
 </td>
</tr>

</table>
</center>
<p>


<p>
<br/>
<center>
<table width="600px" style="margin-top:20px">

<tr>
    <td valign="middle" style="padding-bottom:4px;padding-right:10px;">YABI is best viewed in standards compliant browsers: </td>
    <td valign="top" ><a href="http://apple.com/safari/"><img src="${h.url('/static/images/safari.png')}" alt="Safari"></a> <a href="http://getfirefox.com/"><img src="${h.url('/static/images/firefox.png')}" alt="Firefox"></a> <a href="http://www.google.com/chrome"><img src="${h.url('/static/images/chrome.png')}" alt="Chrome"></a></td>
</tr>

</table>
</center>
<p>

<br />

<div style="float:centre;font-size:80%">
<p>Authorised by: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof Matthew Bellgard</a>; Director, <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a><br />

<a href="http://www.murdoch.edu.au/copy/copy.html" >Disclaimer &amp; Copyright Notice</a> &copy; 2006, 2009 <a href="http://www.murdoch.edu.au/about/murdoch.html">Murdoch University</a><br/>
Contact: <a href="mailto:web@ccg.murdoch.edu.au">Site administrator.</a>
<br />
Logo font 'effortless' by Tup Wanders
</p>
</div>
</%def>
