<%inherit file="base.html"/>
<%def name="header()">
</%def>

<%def name="body()">
<div style="position:absolute;height:100%;width:100%;top:0px;left:0px;background-color:white;padding-top:150px;">

<a href="${h.url('/')}"><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" /></a><p>
<br/>

<div style="position:relative;">
%if error:
    <span class="error">${error}</span><br/>
%endif
<br/>
<br/><br/>
  % if error:
    <div class="error">${ error|escape }</div>
  % endif
</div>

  % if message:
    <div class="message">
      ${ message|escape }
    </div>
  % endif

  % if failure_reason:
    <div class="error">
      ${ failure_reason|escape }
    </div>
  % endif


<p>
<br/>
<p>

<br />

<div style="float:centre;font-size:80%">
<p>Authorised by: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof Matthew Bellgard</a>; Director, <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a><br />

<a href="http://www.murdoch.edu.au/copy/copy.html" >Disclaimer &amp; Copyright Notice</a> &copy; 2006, 2009 <a href="http://www.murdoch.edu.au/about/murdoch.html">Murdoch University</a><br/>
Contact: <a href="mailto:web@ccg.murdoch.edu.au">Site administrator.</a>
<br />
Logo font 'effortless' by Tup Wanders
</p>
</div>
</%def>
