<%inherit file="base.html"/>
<%! from json import dumps %>

<%def name="header()">
    <% profile = request.user.get_profile() %>
    <link rel="stylesheet" href="${h.url('/static/css/account.css?20110208')}" />

    <script type="text/javascript" src="${h.url('/static/javascript/widget/radiolist.js?20110119')}"></script>
    <script type="text/javascript" src="${h.url('/static/javascript/widget/time.js?20101201')}"></script>

    <script type="text/javascript" src="${h.url('/static/javascript/account/account.js?20110208')}"></script>
    <script type="text/javascript" src="${h.url('/static/javascript/account/credentials.js?20101201')}"></script>
    <script type="text/javascript" src="${h.url('/static/javascript/account/options.js?20110208')}"></script>

    <script type="text/javascript">
        var account;

        YAHOO.util.Event.onDOMReady(function() {
% if profile.user_option_access:
            var userOption = true;
% else:
            var userOption = false;
% endif

% if profile.credential_access:
            var credential = true;
% else:
            var credential = false;
% endif

            account = new YabiAccount(${dumps(request.user.username)}, userOption, credential);
        });
    </script>
</%def>

<%def name="body()">
    <% profile = request.user.get_profile() %>
    <div id="doc3" class="yui-t1">
        <div id="yabi-account-mode">
            ${self.bodyhd()}

            <div class="yabiLeftColumn"></div>

            <div class="yabiMiddleColumn"></div>

            <div class="yabiRightColumn">
% if profile.user_option_access:
                <div class="template" id="optionsPassword">
                    <h1>Change Password</h1>

                    <div class="help">
                        This form is used to change the password you use to log
                        into YABI itself. It does not have any effect on your
                        backend credentials.
                    </div>

                    <form>
                        <div>
                            <label>
                                current password:
                                <input type="password" name="currentPassword" required="required" />
                            </label>
                        </div>

                        <div>
                            <label>
                                new password:
                                <input type="password" name="newPassword" required="required" />
                            </label>
                            <div class="help">
                                The new password must be at least six
                                characters in length.
                            </div>
                        </div>

                        <div>
                            <label>
                                confirm new password:
                                <input type="password" name="confirmPassword" required="required" />
                            </label>
                        </div>

                        <div>
                            <input class="fakeButton largeButton" type="submit" value="save" />
                        </div>
                    </form>
                </div>
% endif

% if profile.credential_access:
                <div class="template" id="credential">
                    <h1>Edit Credential</h1>

                    <div class="help">
                        Note that setting any of the password, certificate or
                        key fields will require you to provide values for all
                        three fields, where appropriate. Failing to do so may
                        result in the credential becoming unusable.
                    </div>

                    <form>
                        <input type="hidden" name="id" value="" />

                        <div class="username-container">
                            <label>
                                user name:
                                <input type="text" name="username" autocomplete="off" />
                            </label>
                            <div class="help">
                                The user name used to log into the backend(s)
                                the credential is used for.
                            </div>
                        </div>

                        <div class="password-container">
                            <label>
                                password:
                                <input type="password" name="password" autocomplete="off" />
                            </label>
                            <div class="help">
                                The password used to log into the backend(s)
                                the credential is used for.
                            </div>
                        </div>

                        <div class="confirm-password-container">
                            <label>
                                confirm password:
                                <input type="password" name="confirm-password" autocomplete="off" />
                            </label>
                        </div>

                        <div class="certificate-container textarea-container">
                            <label>
                                certificate:
                                <div>
                                    <div class="record">A certificate is on record.</div>
                                    <textarea name="certificate"></textarea>
                                </div>
                            </label>
                            <div class="help">
                                The certificate used to log into the backend(s)
                                the credential is used for.
                            </div>
                        </div>

                        <div class="key-container textarea-container">
                            <label>
                                key:
                                <div>
                                    <div class="record">A key is on record.</div>
                                    <textarea name="key"></textarea>
                                </div>
                            </label>
                            <div class="help">
                                The key used to log into the backend(s) the
                                credential is used for.
                            </div>
                        </div>

                        <div class="expiry-container">
                            <label>
                                expiry:
                                <select name="expiry">
                                    <option value="never" selected="selected">never</option>
                                    <option value="0">now</option>
                                    <option value="3600">in 1 hour</option>
                                    <option value="86400">in 1 day</option>
                                    <option value="604800">in 1 week</option>
                                    <option value="2592000">in 1 month</option>
                                    <option value="31536000">in 1 year</option>
                                </select>
                            </label>
                        </div>

                        <div>
                            <span></span>
                            <input class="fakeButton largeButton" type="submit" value="save" />
                        </div>
                    </form>
                </div>
% endif
            </div>
        </div>
    </div>
  
    ${self.copyright()}
</%def>
