<%inherit file="base.html"/>

<%def name="header()">
    <link rel="stylesheet" type="text/css" media="screen" href="${h.url('/static/css/design.css?20101201')}" />

    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(initWorkflow);

        var workflow;
        var tools;

        function initWorkflow() {
            tools = new YabiToolCollection();
            
            document.getElementById("toolContainer").appendChild(tools.containerEl);
            
            workflow = new YabiWorkflow(true);
% if reuseId:
            workflow.hydrate(${reuseId});
            workflow.workflowId = undefined;
% endif
            
            var updateFilter = function(job) {
                if (!tools.autofilter) {
                    return;
                }

                if (job === null) {
                    tools.searchEl.value = "";
                } else {
                    tools.searchEl.value = "in:" + job.emittedFileTypes();
                }
                tools.filter();

                // Resize the file selector to roughly fit the available space.
                var fs = document.querySelector(".fileSelector");
                var height = Yabi.util.getViewportHeight();
                if (fs && height) {
                    var top = Yabi.util.getElementOffset(fs).top;

                    // The 30 pixels is pure, unadulterated fudge factor.
                    var height = height - top - 30;

                    fs.querySelector(".fileSelectorBrowse").style.minHeight = height + "px";
                }
            };

            workflow.afterSelectJob = updateFilter;
            workflow.afterPropagate = updateFilter;
            
            document.getElementById("container").appendChild(workflow.mainEl);
            document.getElementById("optionsDiv").appendChild(workflow.optionsEl);
            
            YAHOO.util.Event.addListener("submitButton", "click", submitCallback, workflow);
        }

        //this function is used after a workflow is submitted, 
        //and after the tags have been saved, 
        //to redirect the browser to view this particular workflow using a hashtag
        var summonJobsView = function(workflowId) {
            window.location = appURL + 'jobs#' + workflowId;
        };

        function submitCallback(e, wf) {
            
            // TODO add decent callbacks
            YAHOO.util.Event.stopEvent(e);
            
            if (!wf.isValid()) {
                YAHOO.ccgyabi.widget.YabiMessage.fail("Workflow is missing required inputs. Please correct before submitting.");
            } else {

                var baseURL = appURL + "ws/workflows/submit/";
                
                jsCallback = {
                    success: function (obj) {
                        YAHOO.ccgyabi.widget.YabiMessage.success("Success on submit!");
                        workflow.submitSuccessCallback(obj, summonJobsView);
                    },
                    failure: function (obj) {
                        YAHOO.ccgyabi.widget.YabiMessage.fail("Fail on submit!");
                    },
                    argument: [wf] };
                var data = "username=${request.user.username}&workflowjson=" + encodeURIComponent(wf.toJSON());
                jsTransaction = YAHOO.util.Connect.asyncRequest('POST', baseURL, jsCallback, data);
                
            }
        }

        function summonJob(toolName) {
            workflow.addJob(toolName);
        }

        function destroyWorkflow() {
            workflow.destroy();
            return false;
        }
    </script>
</%def>

<%def name="body()">
    <div id="doc3" class="yui-t1">
        <div id="yabi-design-mode">
            ${self.bodyhd()}

            <div class="yabiLeftColumn">
                <div id="toolContainer"></div>
            </div>
            <div class="yabiMiddleColumn">
                <div id="container"></div>
            </div>
            <div class="yabiRightColumn">
                <div id="optionsDiv"></div>
            </div>
        </div>
    </div>
  
    ${self.copyright()}
</%def>
