<%inherit file="base.html"/>
<%def name="header()">
    <link rel="stylesheet" href="${h.url('/static/css/login.css?20110119')}" />
    <script type="text/javascript" src="${h.url('/static/javascript/login.js?20110119')}"></script>

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-24602306-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>

</%def>

<%def name="body()">

%if show_dev_warning:
<div id="warningbanner">
<strong>Warning: Development settings in use.</strong><br/>Change your settings files before deployment to production servers.
</div>
%endif


<div id="content">

<a href="${h.url('/')}"><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" /></a><p>
<br/>


<div class="yabi_statement">
Workflows made easy.
</div>

<div class="youtube">
<iframe width="640" height="390" src="http://www.youtube.com/embed/zLCNAqn8nFE?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
</div>

<div class="yabi_quote_block">
<div class="yabi_testimonials">
<blockquote><i>Yabi has radically transformed the way we process and analyse 2nd generation DNA sequence data. Through a user-friendly dynamic html interface we can design a simple pipeline that sorts, trims and queries sequence data against databases - we put raw data in one end and obtain meaningful outputs at the end of the pipeline. Put simply, YABI has enabled us to spend more time analysing the actual data and less time 'fighting' it.</i></blockquote>
<span>Dr Michael Bunce, ARC Future Fellow, Ancient DNA Lab, School of Biological Sciences and Biotechnology, Murdoch University</span>
</div>
</div>

<div class="yabi_quote_block">
<div class="yabi_testimonials">
<blockquote><i>Yabi does a brilliant job in bridging the gap between powerful tools and user 
friendliness. With its state-of-the-art web-based interface, it is a much needed - 
and very welcome - addition to the bioinformatics ecosystem.</i></blockquote>
<span>Tomas Di Domenico, Biocomputing Lab, Department of Biology, University of Padova</span>
</div>
</div>

<div class="yabi_quote_block">
<div class="yabi_testimonials">
<blockquote><i>Yabi enables scientists to focus on science. It creates a much needed bridge to "big iron" for researchers <br/>who aren't specialists in high-performance computing.</i></blockquote>
<span>Dr David R Lovell, Transformational Biology - Bioinformatics and Analytics Leader, CSIRO Mathematics, Informatics and Statistics (CMIS)</span>
</div>
</div>

<div class="yabi_quote_block">
<div class="yabi_testimonials">
<blockquote>Hunter AA, Macgregor AB, Szabo TO, Wellington CA and Bellgard MI, <i>Yabi: An online research environment for Grid, High Performance and Cloud computing</i>, Source Code for Biology and Medicine 2012, 7:1 doi:10.1186/1751-0473-7-1 Published: 15 February 2012</blockquote>
<span><a href="http://www.scfbm.org/content/7/1/1/abstract">Source Code for Biology and Medicine</a></span>
</div>
</div>


<div class="loginArea">

<div style="position:relative;">
    <noscript>
        <br/><br/>
        <b>YABI requires JavaScript to be enabled. Please check your browser
        settings and <a href="${h.url("/login")}">try logging in again</a>.</b>
    </noscript>

    <div id="requirements-failed">
        Your browser does not support all of the features required for YABI to
        function.

        <span id="requirements-failed-firefox">
            Please upgrade to Firefox 3.5 or later.
        </span>

        <span id="requirements-failed-ie">
            Please upgrade to Internet Explorer 8 or later.
        </span>

        <span id="requirements-failed-chrome">
            Please upgrade to Chrome 7 or later.
        </span>

        <span id="requirements-failed-safari">
            Please upgrade to Safari 3.2 or later.
        </span>

        <span id="requirements-failed-opera">
            Please upgrade to Opera 11 or later.
        </span>

        <span id="requirements-failed-generic">
            Please upgrade to a supported browser, such as Firefox, Chrome or Safari.
        </span>
    </div>


<div class="loginForm">
<form enctype="multipart/form-data" method="post" action="${ h.url("/login") }">
${form.as_p()}
</div>
<input type="submit" value="Log In" class="loginFormButton"/>
</form>
<br/><br/>

</div>


% for key, error_list in form.errors.iteritems():
    % for err in error_list:
        <span class="error">${key.title()}: ${ err }</span><br/>
    % endfor
% endfor
%if error:
    <span class="error">${error}</span><br/>
%endif

<br/><br/>

Want to try Yabi? Use <b>yabidemo</b> as username and password.
<br/><br/>


Would you like a full trial account?<br>
<a href="mailto:yabi@ccg.murdoch.edu.au">yabi@ccg.murdoch.edu.au</a><br/><br/>

<a href="mailto:yabi@ccg.murdoch.edu.au"><img src="${h.url('/static/images/contactus.png')}" alt="Contact us" height="41" width="157" /></a></p>
<br/>


<br/><br/>
<a href="http://code.google.com/p/yabi/"><img src="${h.url('/static/images/googlecode.png')}" alt="Hosted on Google Code" height="40" width="161" /></a></p>
Hosted on Google Code: <a href="http://code.google.com/p/yabi/">http://code.google.com/p/yabi/</a>
<br/><br/>

<br/><br/>
<a href="http://twitter.com/#!/yabiproject"><img src="${h.url('/static/images/twitter.png')}" alt="Follow us on Twitter" height="36" width="100" /></a><p>

</div>



<div class="push"></div>
</div><!-- end content -->

<div class="login_footer">
<p>Authorised by: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof Matthew Bellgard</a>; Director, <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a> 
<br/>
<a href="http://www.murdoch.edu.au/copy/copy.html" >Disclaimer &amp; Copyright Notice</a> &copy; 2006, 2011 <a href="http://www.murdoch.edu.au/about/murdoch.html">Murdoch University</a>
| Contact: <a href="mailto:yabi@ccg.murdoch.edu.au">yabi@ccg.murdoch.edu.au</a> | 
Logo font 'effortless' by Tup Wanders
<br/><br/>

</div>










</%def>
