{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="${root_path}">{% trans "Home" %}</a> &rsaquo; LDAP Users</div>{% endblock %}{% endif %}

{% block extrahead %}

<script type="text/javascript">
function SetAllCheckBoxes(form_name, value) {
    form = document.getElementById(form_name);
    if (form) {
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].type=="checkbox") {
                form.elements[i].checked = value;
            }
        }
    }
}
</script>
{% endblock %}

{% block content %}
<div id="content-main">

<h2>
Unregistered users
</h2>

{% if unexisting_ldap_users %}

<p>
The following users are in the LDAP YABI group, but <strong>NOT</strong> in the DB:
</p>

<form id="unregistered_users" action="" method="POST">
<input type="button" value="Select All" onclick="SetAllCheckBoxes('unregistered_users',true)" />
<input type="button" value="Unselect All" onclick="SetAllCheckBoxes('unregistered_users',false)" />
<input type="submit" value="Register users"/>
<table>
    <tr>
        <th>Register</th>
        <th>Full name</th>
        <th>User ID</th>
        <th>User LDAP DN</th>
    </tr>
{% for user in unexisting_ldap_users %}
    <tr>
        <td><input type="checkbox" name="{{ user.uid }}" value="{{ user.dn }}"/></td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.uid }}</td>
        <td>{{ user.dn }}</td>
    </tr>
{% endfor %}
</table>
<input type="button" value="Select All" onclick="SetAllCheckBoxes('unregistered_users',true)" />
<input type="button" value="Unselect All" onclick="SetAllCheckBoxes('unregistered_users',false)" />
<input type="submit" value="Register users"/>
</form>

{% else %}

<p>All users in the LDAP YABI group are registered in the DB.</p>

{% endif %}

<h2>
Registered users
</h2>
<p>
The following users are in the LDAP YABI group <em>AND</em> in the DB:
</p>
<table>
    <tr>
        <th>Full name</th>
        <th>User ID</th>
        <th>User LDAP DN</th>
    </tr>
{% for user in existing_ldap_users %}
    <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.uid }}</td>
        <td>{{ user.dn }}</td>
    </tr>
{% endfor %}
</table>


</div>
{% endblock %}
