Django==1.8.3
pytz>=2013b
anyjson==0.3.3
celery==3.1.15
amqp==1.4.6
amqplib==1.0.2
kombu==3.0.23
billiard==3.3.0.18
django-templatetag-sugar==1.0
ordereddict==1.1
python-memcached==1.53
Mako==1.0.0
django-extensions==1.4.0
beautifulsoup4==4.3.2
cssutils==1.0
httplib2==0.9
paramiko==1.15.2
boto3==1.1.3
python-swiftclient==2.2.0
python-keystoneclient==0.10.1
netaddr!=0.7.13
python-dateutil==2.2
six==1.8
flower>=0.7.0
apache-libcloud==0.15.1
uwsgi==2.0.10
uwsgitop
pyinotify==0.9.4
psycopg2==2.5.5
pykerberos==1.1.5
python-ldap==2.4.19
django-nose
django-secure==1.0.1
pycrypto==2.6.1
https://bitbucket.org/ccgmurdoch/ccg-django-utils/downloads/ccg-django-utils-0.3.1.tar.gz
https://yaphc.googlecode.com/files/yaphc-0.1.5.tgz
https://bitbucket.org/ccgmurdoch/libcloud-drivers/downloads/ccg-libcloud-drivers-0.0.1.tar.gz
https://github.com/muccg/djamboloader/archive/0.1.5.tar.gz#egg=djamboloader-0.1.5
