{% load pytag %}
{% block bodyhd %}
    <div id="hd">
        <p>
            <img src="{% py h.url('/static/images/yabi-logo.png') %}" alt="Yabi-logo" height="60" width="198" />
        </p>

        <div id="yabi-message"></div>

        {% block tabs %}
        <div id="yabi-tabs">
        <a href="{% py h.url('/jobs') %}" id="yabi-tabs-jobs" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">jobs</a>
        <a href="{% py h.url('/design') %}" id="yabi-tabs-design" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">design</a>
        <a href="{% py h.url('/files') %}" id="yabi-tabs-files" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">files</a>
        <!-- TODO alter method call to detect ObjectDoesNotExist error pre-template rendering in Django.Old Mako lines
        kept for reference -->
        {% if request.user.get_profile.has_account_tab %}
        <a href="{% py h.url('/account') %}" id="yabi-tabs-account" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">account</a>
       {% endif %}
       <!--   TODO refactor view to cater for : except django.core.exceptions.ObjectDoesNotExist -->


        {% if request.user.is_staff %}
        <a href="{% py h.url('/admin') %}" id="yabi-tabs-admin" onclick="YAHOO.ccgyabi.widget.YabiMessage.disable();">admin</a>
        {% endif %}
        </div>
        {% endblock %}

        <div id="userinfo">
            <a href="{% py h.url('/logout') %}" class="fakeButton">log out {{request.user.username}}</a>
        </div>
    </div>
{% endblock %}

{% block copyright %}
    <div class="copyright">&copy; 2006, 2012 CCG, Murdoch University</div>
{% endblock %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="Y A B I" />
<meta name="robots" content="index, follow" />
<meta name="description" content="Yabi" />
<meta name="keywords" content="yabi, bioinformatics" />
<meta name="language" content="en" />

<title>Y A B I</title>

<link rel="shortcut icon" href="<% py h.url('favicon.ico') %}" />

<script src="<% py h.url('/static/javascript/lib/yui-3.5.1/build/yui/yui-min.js') %}"></script>

<script type="text/javascript">
    YAHOO = {
        ccgyabi:{
            widget: {}
        } 
    };
    var appURL = "{% py h.url('/') %}";

    // Set this to false if you want to get each YUI JS file on its own
    // for debugging YUI itself.
    YAHOO.ccgyabi.combineJS = true;

% if request:
    YAHOO.ccgyabi.username = '{{request.user.username}}';
% endif
    YUI_config = {
        groups: {
            yui2: {
                base: '{% py h.url("/static/javascript/lib/yui-2in3/dist/2.9.0/build/") %}',

                // If you have a combo service, you can configure that as well
                combine: YAHOO.ccgyabi.combineJS,
                // comboBase: 'http://myserver.com/combo?',
                comboBase: '{% py h.url("/djamboloader/yui2in3_2_9_0/combo?") %}',
                root: '',
                // root: '/2in3/build/',

                patterns: {
                    'yui2-': {
                        configFn: function(me) {
                            if(/-skin|reset|fonts|grids|base/.test(me.name)) {
                                me.type = 'css';
                                me.path = me.path.replace(/\.js/, '.css');
                                me.path = me.path.replace(/\/yui2-skin/, '/assets/skins/sam/yui2-skin');
                            }
                        }
                    }
                }
            }
        },
        combine: YAHOO.ccgyabi.combineJS,
        comboBase: '{% py h.url("/djamboloader/yui_3_5_1/combo?") %}',
        root: ''
    };

    // Override in child templates if needed
    function onDOMReady() {};

    var Y = YUI().use('node', 'event', 'io-form', 'json', 'anim', 'io-upload-iframe', 'dd', 'yui2-slider', 
        function(Y) {
          Y.on('domready', function() {
            onDOMReady();
          });
        }
    );
</script>

<script type="text/javascript" src="{% py h.url('/static/javascript/lib/fbd/fbd.js') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/lib/swfupload-2.5.0b3/swfupload.js') %}"></script>

<script type="text/javascript" src="{% py h.url('/static/javascript/lib/modernizr-1.7.min.js') %}"></script>

<script type="text/javascript" src="{% py h.url('/static/javascript/YabiCommon.js?20110208') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiAcceptedExtensionList.js?20110111') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiFileSelector.js?20110110') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiJob.js?20110427') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiJobFileValue.js?20101201') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiJobParam.js?20110111') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiSimpleFileValue.js?20101201') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiTool.js?20110107') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiToolCollection.js?20110428') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiWorkflow.js?20110428') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiWorkflowCollection.js?20110428') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/YabiWorkflowProxy.js?20110208') %}"></script>

<script type="text/javascript" src="{% py h.url('/static/javascript/widget/event.js?20110105') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/widget/loading.js?20101201') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/widget/message.js?20101213') %}"></script>
<script type="text/javascript" src="{% py h.url('/static/javascript/widget/upload.js?20110110') %}"></script>


<link rel="stylesheet" type="text/css" media="screen" href="{% py h.url('/static/css/main.css?20101201') %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% py h.url('/static/css/reset-fonts-grids-min.css') %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% py h.url('/static/css/file-selector.css?20110107') %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% py h.url('/static/css/yabi.css?20110427') %}" />

<link rel="stylesheet" type="text/css" media="screen" href="{% py h.url('/static/css/widget/message.css?20101201') %}" />

<!-- confirm this is right   replacement of next.header()-->
<!-- only 2 level inheritance hierarchy this will work -->
{% block header %}
{% endblock %}

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
