<%inherit file="base.html"/>
<%def name="header()">
</%def>

<%def name="body()">
<script>
YAHOO.util.Event.onDOMReady(function() {
    document.body.style.background = 'white';
    
    if (document.getElementsByName('ax-email') != null) {
        document.getElementsByName('email')[0].value = document.getElementsByName('ax-email')[0].value;
    }
});
</script>

  <div id="doc3" class="yui-t1">
    <div id="yabi-design-mode">
      <div id="hd">
        <p><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" />  

        <div style="position:absolute;left:220px;top:30px;font-size:18px;color:#3879e5;">Registration</div>

            <div id="yabi-message-ajax">
    % if error:
    <div class="error">${ error|escape }</div>
    % endif
            </div>

      </div>
          <div style="position:absolute;left:0px;top:63px;width:760px;padding:5px;padding-left:30px;padding-top:20px;">

Applicants must read and agree to the iVEC conditions of use and policies: 

<ul style="margin-left:80px;margin-top:10px;margin-bottom:10px;"><li>- <a href="http://ccg.murdoch.edu.au/index.php/IVEC_Conditions_of_Use" target="_blank" title="IVEC Conditions of Use">Conditions of Use</a>
</li><li>- <a href="http://ccg.murdoch.edu.au/index.php/IVEC_Network_Policy" target="_blank" title="IVEC Network Policy">Network policy</a>
</li><li>- <a href="http://ccg.murdoch.edu.au/index.php/IVEC_Security_Policy" target="_blank" title="IVEC Security Policy">Security policy</a> 
</li><li>- <a href="http://ccg.murdoch.edu.au/index.php/IVEC_Password_Policy" target="_blank" title="IVEC Password Policy">Password policy</a> 
</li></ul>

<p>Once you have read the iVEC Policies and agree to abide by them and the conditions above, you are ready to fill out the online application form:

<div style="margin:10px;border:2px solid #3879e5;padding:15px;-moz-border-radius:5px;-webkit-border-radius:5px;">
  % if url is not None and url is not '':
    <div class="message">
      <div style="background-color:#00da00;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;margin-bottom:10px;padding:3px;">
      OpenID authentication succeeded. <p>
      </div>
      <div style="background-color:#eefaee;color:#000;-moz-border-radius:3px;-webkit-border-radius:3px;margin-bottom:20px;padding:3px;">
      Your OpenID URL is:
        <a href="${ url }" style="color:#006;">${ url|escape }</a><p>
      When your registration is processed you will be able to login to YABI directly using OpenID.
      </div>

      <form method="POST" action="/openid/registration">
      <p>
    % if ax:
      % for pair in ax:
        <input type="hidden" name="ax-${ pair[0] }" value="${ ','.join(pair[1]) }">
      % endfor
    % endif

    <input type="hidden" name="openid_url" value="${ url }">
<!--  PASTED FORM CODE HERE -->
<table>
<tr>
<td valign=top>
	<span class=bold>Name:</span><br/>

</td>

<td valign=top>
<input type=text name="name" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>
<td valign=top>
	<span class=bold>Organisation/Institution:</span><br/>
</td>
<td valign=top>
<input type=text name="organisation" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>
<td valign=top>
	<span class=bold>Faculty/Discipline:</span><br/>
</td>
<td valign=top>
<input type=text name="faculty" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>

<td valign=top>
<span class=bold>User Type:</span><br/>
</td>
<td valign=top>
<select name="user_type"  ><option value="Student" >Student<option value="Visitor" >Visitor<option value="Staff" selected>Staff</select>					</td>

</tr>
		<tr>
<td valign=top>
	<span class=bold>ID:</span><br/>
</td>

<td valign=top>
<input type=text name="org_user_id" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>
<td valign=top>
	<span class=bold>Email:</span><br/>
</td>
<td valign=top>
<input type=text name="email" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>

<td valign=top>
	<span class=bold>Contact Number:</span><br/>
</td>
<td valign=top>
<input type=text name="contact_number" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
CSIRO users please use your ident				</td>
</tr>
		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
<p><span class=subheading>Project Supervisor (if not you)</span><br/>				</td>

</tr>
	<tr>
<td valign=top>
<p>						<span class=bold>Name:</span><br/>
</p>
</td>

<td valign=top>
<input type=text name="supervisor_name" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Contact Number:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="supervisor_number" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Email:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="supervisor_email" value="" size=30 maxlength=300 >					</td>
</tr>
		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
<p><span class=subheading>If you wish to be part of an existing project, please skip to the last section.</span><br/>				</td>
</tr>
	<tr>
<td valign=top>
<p>						<span class=bold>Project Title:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="project_title" value="" size=30 maxlength=300 >					</td>
</tr>

		<tr>
<td valign=top>
<p>						<span class=bold>Project Description:</span><br/>
</p>
</td>
<td valign=top>
<textarea wrap=on name="project_description" cols=30 rows=3 onchange="if (value.length > 300){value=value.substr(0,300); alert('section_3_question_2_value may be no more than 300 characters long.');focus()}" ></textarea>					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>RFCD Code 1:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="rfcd_code_1" value="" size=6 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Code 1 Weight:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="rfcd_code_1_weight" value="" size=6 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>RFCD Code 2:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="rfcd_code_2" value="" size=6 >					</td>

</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Code 2 Weight:</span><br/>
</p>
</td>

<td valign=top>
<input type=text name="rfcd_code_2_weight" value="" size=6 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>RFCD Code 3:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="rfcd_code_3" value="" size=6 >					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Code 3 Weight:</span><br/>
</p>
</td>
<td valign=top>
<input type=text name="rfcd_code_3_weight" value="" size=6 >					</td>
</tr>
		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
			</td>
</tr>
	<tr>
<td valign=top>
<p>						<span class=bold>Resources:</span><br/>
</p>
</td>
<td valign=top>
<table cellpadding=0 cellspacing=0 border=0><tr><td valign=middle>&nbsp;<input type=checkbox name="resources_compute value="Compute - HPC" ></td><td valign=middle>Compute - HPC</td></tr><tr><td valign=middle>&nbsp;<input type=checkbox name="resources_storage" value="Data - Petabyte Storage" ></td><td valign=middle>Data - Petabyte Storage</td></tr><tr><td valign=middle>&nbsp;<input type=checkbox name="resources_network" value="Network" ></td><td valign=middle>Network</td></tr><tr><td></td></tr></table>					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Estimate:</span><br/>
</p>
</td>

<td valign=top>
<textarea wrap=on name="estimate" cols=50 rows=9 onchange="if (value.length > 1000){value=value.substr(0,1000); alert('value may be no more than 1000 characters long.');focus()}" >Number of CPUs / Amount of Storage required&nbsp;?</textarea>					</td>
</tr>
		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
<p><span class=subheading>Justify your requirements</span><br/>Why do you require the resources indicated above?				</td>
</tr>
	<tr>
<td valign=top>
<p>						<span class=bold>Describe:</span><br/>
</p>
</td>
<td valign=top>
<textarea wrap=on name="describe" cols=50 rows=9 onchange="if (value.length > 1000){value=value.substr(0,1000); alert('section_6_question_1_value may be no more than 1000 characters long.');focus()}" ></textarea>					</td>
</tr>
		<tr>
<td valign=top>
<p>						<span class=bold>Software Needs:</span><br/>
</p>
</td>
<td valign=top>
<textarea wrap=on name="software_needs" cols=30 rows=3 onchange="if (value.length > 300){value=value.substr(0,300); alert('section_6_question_2_value may be no more than 300 characters long.');focus()}" ></textarea>					</td>
</tr>

		<tr><td colspan=2><hr noshade size=0></td></tr>
	<tr>
<td colspan=2 valign=top>
<p><span class=subheading>I agree to the iVEC Conditions of Use:</span><br/>				</td>
</tr>
	<tr>
<td valign=top>
<p>						<span class=bold>Select</span><br/>
</p>
</td>
<td valign=top>
<table cellpadding=0 cellspacing=0 border=0><tr><td valign=middle>&nbsp;<input type=radio name="agreement" value="Yes" ></td><td valign=middle>Yes</td></tr><tr><td valign=middle>&nbsp;<input type=radio name="agreement" value="No"  checked></td><td valign=middle>No</td></tr><tr><td></td></tr></table>					</td>
	</tr>
				<tr>
<td></td>
<td>
                       <input type="submit" name="action" value="Submit Form">
</td>
</tr>
<!-- END PASTED FORM -->

    </table>
    </form>

    </div>
  % endif

  % if message:
    <div class="message">
      ${ message|escape }
    </div>
  % endif

  % if failure_reason:
    <div class="error">
      ${ failure_reason|escape }
    </div>
  % endif

</div>
          </div>

    </div>
  </div>
  
  <div class="copyright">&copy; 2006, 2009 CCG, Murdoch University</div>
</%def>
