<%inherit file="base.html"/>
<%def name="header()">
</%def>

<%def name="body()">
<script>
YAHOO.util.Event.onDOMReady(function() {
    document.body.style.background = 'white';
});
</script>

  <div id="doc3" class="yui-t1">
    <div id="yabi-design-mode">
      <div id="hd">
        <p><img src="${h.url('/static/images/yabi-logo.png')}" alt="Yabi-logo" height="60" width="198" />  

        <div style="position:absolute;left:220px;top:30px;font-size:18px;color:#3879e5;">Registration</div>

      </div>
          <div style="position:absolute;left:0px;top:63px;width:760px;padding:5px;padding-left:30px;padding-top:20px;">

    <div class="message">
    %if message is not None:
        ${ message }
    %else:
      <div style="background-color:#00da00;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;margin-bottom:10px;padding:3px;">
        Registration complete. <p>We will contact you when your request has been processed.
      </div>
    %endif
    </div>

    </div>
  </div>
  
  <div class="copyright">&copy; 2006, 2009 CCG, Murdoch University</div>
</%def>
