<%inherit file="admin/base_site.html"/>
<%namespace name="admin" module="django.contrib.admin.templatetags.adminmedia" />


% if not is_popup:
${self.block_breadcrumbs()}<%def name="block_breadcrumbs()"><div class="breadcrumbs"><a href="${root_path}">${trans("Home")}</a> &rsaquo; ${breadcrumb}</div></%def>
% endif


${self.block_content()}<%def name="block_content()">
<div id="content-main">

<form enctype="multipart/form-data" method="post" action="${action_path}">
${ form.as_p() }
<input type="submit" value="Submit" />
</form>

</div>
</%def>
