{% extends "fe/base.html" %}
{% load static from staticfiles %}



{% block header %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/admin.css' %}" />

    <script language="JavaScript">
    <!--
    function resizeIFrame(iframeObj) {
        iframeObj.style.height = iframeObj.contentWindow.document.body.scrollHeight + 'px';
    }
    -->
    </script>
        
{% endblock %}
{% block body %}
    <div id="doc3" class="yui-t1" style="height:100%;background-color:#fff;">
        <div id="yabi-files-mode">
          {% block bodyhd %}
            {{ block.super }}
            {% endblock %}

             
            <iframe src="{{base_site_url}}/admin-pane" id="admin-iframe" width="100%" scrolling="no" onLoad="resizeIframe(this);" frameborder="0">
                An iframe capable browser is required for inframe access to admin. <a href="admin-pane">Go to the full admin page instead.</a>
            </iframe>
        </div>
    </div>
{% endblock %}
