{% extends "fe/base.html" %}
{% load static from staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/design.css' %}" />

    <script type="text/javascript">
        Y.use('*', function(Y) {
            Y.on('domready', function() {
                YabiApp.initDesignPage({% if reuseId %}{{reuseId}}{% else %}null{% endif %});
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="doc3" class="yui-t1">
        <div id="yabi-design-mode">
            {% block bodyhd %}
            {{ block.super }}
            {% endblock %}

            <div class="yabiLeftColumn">
                <div id="toolContainer"></div>
            </div>
            <div class="yabiMiddleColumn">
                <div id="container"></div>
            </div>
            <div class="yabiRightColumn">
                <div id="optionsDiv"></div>
            </div>
        </div>
    </div>
  
{% endblock %}
